.function-button{
    margin:20px 30px 20px 30px;
}

#time{
    padding-left:70%;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.parent{
    position:absolute;
    z-index:2;
    left:100px;
    top:110px;
    height:500px;
    background-color:white;
    width:85%;
}