#searchquestionid{
    width:75%;
}

#search{
    width:18%;
}

#ans{
    width:75%;

}
#add{
    width:18%;
}

.options{
    width:75%;
    margin:5px 10px 5px 0px;
}

body{
    background:url(https://images.alphacoders.com/665/665091.jpg);
      background-repeat: no-repeat;
  background-size: 100%;
  
  }

  #teacher-setdata{
      margin-top:50px;
      background-color:white;
      padding:20px 0px 20px 20px;
  }